asgiref==3.8.1
backports.zoneinfo==0.2.1
black==24.8.0
click==8.1.8
colorama==0.4.6
Django==3.2.25
django-debug-toolbar==3.8.1
django-js-asset==2.2.0
django-mptt==0.14.0
isort==5.13.2
mypy-extensions==1.1.0
packaging==26.2
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pymysql==1.1.2
pytz==2026.2
six==1.17.0
sqlparse==0.5.5
tomli==2.4.1
typing-extensions==4.13.2
tzdata==2026.3
