{% extends "../base.html" %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">{{ product.slug }}</div>
                    <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                    <div class="fs-5 mb-5">
                        {% if product.is_discount %}
                            <span class="text-decoration-line-through">¥{{ product.price }}</span>
                            <span>¥{{ product.discount_price }}</span>
                        {% else %}
                            <span>¥{{ product.price }}</span>
                        {% endif %}
                    </div>
                    <p class="lead">{{ product.description }}</p>
                    <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-outline-secondary" type="button" id="btnMinus">-</button>
                            <input class="form-control text-center mx-2" id="inputQuantity" type="number" value="1" style="max-width: 5rem" min="1" />
                            <button class="btn btn-outline-secondary" type="button" id="btnPlus">+</button>
                        </div>
                        <button class="btn btn-outline-dark flex-shrink-0" id="add-button" value='{{product.id}}' data-url='{% url 'basket:basket_add' %}' type="button">
                            <i class="bi-cart-fill me-1"></i>
                            加入购物车
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% csrf_token %}

<script src={% static "js/store/store.js" %}></script>

{% endblock content %}